[Unit]
Description=JackTrip service
After=jackd.service

[Service]
ExecStart=darkice -c /etc/darkice.cfg
Restart=always
RestartSec=2s

# Use a dedicated user to run our service
User=sam

[Install]

WantedBy=default.target
