[Unit]
Description=JackTrip service
After=jackd.service

[Service]
Type=simple
User=jacktrip
Group=audio
Nice=-20
IOSchedulingClass=realtime
IOSchedulingPriority=0
Environment="JACK_NO_AUDIO_RESERVATION=1"
Environment="JACK_NO_START_SERVER=1"
ExecStartPre=jack_wait -w -t 5
EnvironmentFile=/etc/jacktrip_pypatcher/jacktrip.conf
ExecStart=/usr/local/bin/jacktrip -S -p0 --nojackportsconnect -z -q $Q
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=jacktrip
LimitMEMLOCK=infinity
LimitRTPRIO=99
LimitNOFILE=200000
LimitNPROC=200000

[Install]
WantedBy=default.target
