[Unit]
Description=JackTrip service
Requires=jackd.service
After=jackd.service

[Service]
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitRTTIME=infinity
EnvironmentFile=/etc/jacktrip_pypatcher/jacktrip.conf
ExecStart=/usr/bin/jacktrip -S -p0 --nojackportsconnect -z -q $Q
Restart=always
RestartSec=2s

# Use a dedicated user to run our service
User=sam

[Install]

WantedBy=default.target
