[Unit]
Description=JACK service

[Service]
Environment="JACK_NO_AUDIO_RESERVATION=1"
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
ExecStart=/home/sam/jacktrip_pypatcher_fork/services/start_jackd.sh
Restart=always
RestartSec=2s

# Use a dedicated user to run our service
User=sam

[Install]

WantedBy=default.target
