[Unit]
Description=mpg123 service
After=jackd.service

[Service]
ExecStart=/home/sam/jacktrip_pypatcher_fork/services/start_mpg123.py
Restart=always
RestartSec=2s

# Use a dedicated user to run our service
User=sam

[Install]

WantedBy=default.target
