[Unit]
Description=mpg123 service
After=jackd.service
Requires=jackd.service

[Service]
ExecStart=/usr/bin/mpg123-jack --name lounge-music --loop -1 /home/sam/lounge-music.mp3
Restart=always
RestartSec=2s

# Use a dedicated user to run our service
User=sam

[Install]

WantedBy=jackd.service
