[Unit]
Description=mpg123 service
After=jackd.service

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/sam/jacktrip_pypatcher_fork/services/start_mpg123.py
Restart=on-failure

# Use a dedicated user to run our service
User=sam

[Install]

WantedBy=default.target
