[Unit]
Description=pypatcher_callback service
After=jackd.service
Requires=jackd.service

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 -u /home/jacktrip/jacktrip_pypatcher/patcher_callback.py
WorkingDirectory=/home/jacktrip/jacktrip_pypatcher/
Restart=always
RestartSec=2s

# Use a dedicated user to run our service
User=jacktrip

[Install]

WantedBy=jackd.service
