[Unit]
Description=pypatcher_watchgod service
After=jacktrip.service
Requires=jacktrip.service

[Service]
Environment=PYTHONUNBUFFERED=1
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitRTTIME=infinity
ExecStart=/usr/bin/python3 -u /home/jacktrip/jacktrip_pypatcher/patcher_watchgod.py
WorkingDirectory=/home/jacktrip/jacktrip_pypatcher/
Restart=always
RestartSec=2s

# Use a dedicated user to run our service
User=jacktrip

[Install]

WantedBy=jacktrip.service
