[Unit]
Description=pypatcher_callback service
After=jacktrip.service

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 -u ~/jacktrip_pypatcher_fork/patcher_callback.py
WorkingDirectory=~/jacktrip_pypatcher_fork/
Restart=always
RestartSec=2s

# Use a dedicated user to run our service
User=sam

[Install]

WantedBy=default.target
