name: "jacktrip_pypatcher"

on:
  push:
    branches:
      - trunk
  pull_request:

jobs:
  black:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Install python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - run: python -m black --check .

  pytest:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Install apt dependencies
      run: sudo apt-get install jackd2 libjack-jackd2-0 libjack-jackd2-dev
    - name: Install python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - run: python -m pytest test_*.py
